# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          ls -la
          #kubectl get nodes --kubeconfig ./kube-config/local-k8s-config
          #kubectl get pods -A --kubeconfig ./kube-config/local-k8s-config
          #kubectl get ns -A --kubeconfig ./kube-config/local-k8s-config
          #kubectl get svc -A --kubeconfig ./kube-config/local-k8s-config
          #kubectl label namespace default istio-injection=enabled --kubeconfig ./kube-config/local-k8s-config   
          cd prometheus-manifests; kubectl apply -k . --kubeconfig ../kube-config/local-k8s-config
          kubectl get pods -A --kubeconfig ../kube-config/local-k8s-config
          kubectl get pvc  --kubeconfig ../kube-config/local-k8s-config
          kubectl get pv  --kubeconfig ../kube-config/local-k8s-config
          #crd
          #kubectl get crd gateways.gateway.networking.k8s.io &> /dev/null ||{ kubectl kustomize "github.com/kubernetes-sigs/gateway-api/config/crd?ref=v1.2.0" | kubectl apply -f -; }


